**/build/
*.hprof
*.iml
.DS_Store
.generated-archives/
.gradle/
app/src/main/assets/proot/proot-arm64
app/src/main/assets/proot/zstd-arm64
app/src/main/assets/rootfs/*.tar.gz
app/src/main/assets/rootfs/*.tar.zst
app/src/main/assets/rootfs/*.tgz
app/src/main/jniLibs/arm64-v8a/libproot_exec.so
app/src/main/jniLibs/arm64-v8a/libzstd.so.1
app/src/main/jniLibs/arm64-v8a/libzstd_exec.so
build/
local.properties
app/src/main/jniLibs/arm64-v8a/*.so
app/src/main/jniLibs/arm64-v8a/*.so.*
